.shelf header {
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.3rem 0 0;
  height: 1rem;
  background-color: #fff;
  position: relative;
  position: fixed; }
  .shelf header:after {
    border-top: 1px solid #c8c7cc;
    content: ' ';
    display: block;
    width: 100%;
    position: absolute;
    left: 0; }
  .shelf header:after {
    bottom: 0; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .shelf header::after {
      -webkit-transform: scaleY(0.7);
      -webkit-transform-origin: 0 0;
      transform: scaleY(0.7); }
    .shelf header::after {
      -webkit-transform-origin: left bottom; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .shelf header::after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5); } }
  .shelf header > .iconfont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.8rem;
    height: 0.8rem;
    color: #ed424b; }
  .shelf header .checkAll {
    margin-left: 0.3rem; }

.shelf span {
  font-size: 0.28rem; }

.shelf .shelf-content {
  padding-top: 1rem; }

.shelf-item {
  display: flex;
  padding: 0.32rem;
  position: relative; }
  .shelf-item:after {
    border-top: 1px solid #c8c7cc;
    content: ' ';
    display: block;
    width: 100%;
    position: absolute;
    left: 0; }
  .shelf-item:after {
    bottom: 0; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .shelf-item::after {
      -webkit-transform: scaleY(0.7);
      -webkit-transform-origin: 0 0;
      transform: scaleY(0.7); }
    .shelf-item::after {
      -webkit-transform-origin: left bottom; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .shelf-item::after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5); } }
  .shelf-item.hover {
    background-color: #f0f0f0; }
  .shelf-item .edit {
    width: 0.6rem; }
    .shelf-item .edit .label-checkbox, .shelf-item .edit .checkbox-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
    .shelf-item .edit .edit-btn {
      display: none; }
      .shelf-item .edit .edit-btn.checked + .checkbox-wrap .checkbox::after {
        background-color: #ed424b;
        border-radius: 100%;
        content: "";
        display: inline-block;
        height: 12px;
        margin: 2px;
        width: 12px; }
    .shelf-item .edit .checkbox {
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      display: inline-block;
      border-radius: 50%;
      height: 16px;
      margin-right: 10px;
      width: 16px; }
  .shelf-item > img {
    margin-right: 0.3rem;
    width: 1.2rem;
    height: 1.5rem; }
  .shelf-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 0.06rem 0; }
    .shelf-detail p {
      height: 0.3rem;
      font-size: 0.28rem;
      color: #aaa;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .shelf-detail p.title {
        display: flex;
        justify-content: space-between;
        height: 0.36rem; }
        .shelf-detail p.title span:first-child {
          font-size: 0.32rem;
          color: #333; }
      .shelf-detail p > * {
        color: #aaa;
        font-size: 0.28rem; }
        .shelf-detail p > * .iconfont {
          color: #aaa; }
          .shelf-detail p > * .iconfont:before {
            display: inline-block;
            transform: rotate(-180deg); }
      .shelf-detail p .icon-yonghu {
        position: relative;
        top: -0.02rem;
        margin-right: 0.06rem; }

.shelf footer {
  position: relative;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 0.8rem; }
  .shelf footer:after {
    border-top: 1px solid #c8c7cc;
    content: ' ';
    display: block;
    width: 100%;
    position: absolute;
    left: 0; }
  .shelf footer:after {
    top: 0; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .shelf footer::after {
      -webkit-transform: scaleY(0.7);
      -webkit-transform-origin: 0 0;
      transform: scaleY(0.7); }
    .shelf footer::after {
      -webkit-transform-origin: left bottom; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .shelf footer::after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5); } }
  .shelf footer .delete {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.28rem;
    color: #ed424b; }
  .shelf footer .iconfont {
    margin-top: 0.08rem;
    margin-right: 0.04rem;
    font-size: 0.36rem;
    color: #ed424b; }
