@import "../../assets/css/util.scss";

.shelf {
  header {
    left:0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 pr(15) 0 0;
    height: pr(50);
    background-color: #fff;
    @include border-1px(bottom);
    position: fixed;
    > .iconfont {
      display: flex;
      justify-content: center;
      align-items: center;
      width:pr(40);
      height:pr(40);
      color: $red;
    }
    .checkAll {
      margin-left:pr(15);
    }
  }
  span {
    font-size: pr(14);
  }
  .shelf-content {
    padding-top:pr(50);
  }
  @at-root .shelf-item {
    display: flex;
    padding: pr(16);
    @include border-1px(bottom);
    &.hover {
      background-color: #f0f0f0;
    }
    .edit {
      width:pr(30);
      .label-checkbox {
        @include dfcc;
        @include wh(100%, 100%);
      }
      .checkbox-wrap {
        @extend .label-checkbox;
      }
      .edit-btn {
        display: none;
        &.checked + .checkbox-wrap {
          .checkbox {
            &::after {
              background-color: $red;
              border-radius: 100%;
              content: "";
              display: inline-block;
              height: 12px;
              margin: 2px;
              width: 12px;
            }
          }
        }
      }
      .checkbox {
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.15);
        display: inline-block;
        border-radius: 50%;
        height: 16px;
        margin-right: 10px;
        width: 16px;
      }
    }
    > img {
      margin-right:pr(15);
      width: pr(60);
      height: pr(75);
    }

    @at-root .shelf-detail {
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      flex:1;
      padding: pr(3) 0;
      p {
        height:pr(15);
        font-size:pr(14);
        color:#aaa;
        @include ell;
        &.title {
          display: flex;
          justify-content:space-between;
          height:pr(18);
          span:first-child {
            font-size:pr(16);
            color:#333;
          }
        }
        > * {
          color:#aaa;
          font-size:pr(14);
          .iconfont {
            color:#aaa;
            &:before {
              display: inline-block;
              transform: rotate(-180deg);
            }
          }
        }
        .icon-yonghu {
          position: relative;
          top:pr(-1);
          margin-right:pr(3);
        }
      }
    }
  }
  footer {
    @include border-1px(top);
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    height:pr(40);
    .delete {
      width:50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:pr(14);
      color: $red;
    }
    .iconfont {
      margin-top:pr(4);
      margin-right:pr(2);
      font-size:pr(18);
      color: $red;
    }
  }
}


