.category {
  background-color: #f6f7f9; }

.category-header {
  height: 1rem;
  background-color: #fff; }
  .category-header h2 {
    margin: 0 0.4rem;
    font-size: 0.36rem;
    line-height: 1rem;
    color: #ed424b; }
    .category-header h2 .iconfont {
      color: #ed424b;
      margin-right: 0.1rem;
      font-size: 0.32rem; }

.category-list {
  margin-top: 0.3rem;
  padding: 0.3rem;
  background-color: #fff; }
  .category-list ul li {
    display: flex;
    padding-bottom: 0.2rem;
    margin-bottom: 0.28rem;
    border-bottom: 1px solid #ddd; }
    .category-list ul li a {
      display: flex; }
    .category-list ul li .book-image {
      width: 1.6rem; }
      .category-list ul li .book-image img {
        width: 100%; }
    .category-list ul li .book-detail {
      position: relative;
      flex: 1;
      padding: 0;
      margin-left: 0.4rem; }
      .category-list ul li .book-detail h3 {
        font-size: 0.36rem;
        margin-bottom: 0.2rem; }
      .category-list ul li .book-detail p {
        line-height: 1.3;
        max-height: 3.8em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-clamp: 2;
        font-size: 0.28rem;
        color: #969ba3;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; }
      .category-list ul li .book-detail .author {
        display: flex;
        align-items: center;
        position: absolute;
        left: 0rem;
        bottom: 0.1rem;
        color: #969ba3;
        font-size: 0.26rem; }
        .category-list ul li .book-detail .author > * {
          color: #969ba3; }
        .category-list ul li .book-detail .author .iconfont {
          margin-right: 0.06rem;
          font-size: 0.24rem; }
      .category-list ul li .book-detail .category-r {
        position: absolute;
        right: 0;
        bottom: 0.1rem;
        float: right;
        color: #969ba3;
        font-size: 0.2rem; }
        .category-list ul li .book-detail .category-r span {
          color: #969ba3;
          border: 1px solid #ccc;
          border-radius: 0.04rem;
          padding: 0 0.04rem; }
        .category-list ul li .book-detail .category-r span:nth-child(2) {
          color: #ed424b; }
        .category-list ul li .book-detail .category-r span:nth-child(3) {
          color: #4284ed; }
